* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: black; }

/* LOGO Y NAV */
header {
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .logo {
    width: 100px; }
  header ul {
    font-family: 'Smooch Sans';
    font-size: 40px; }
  header ul li {
    padding: 5px; }
  header img {
    display: block;
    max-width: 100%;
    height: auto; }
  header .nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: transparent;
    transition: all .5s ease-in-out; }
  header .scroll {
    background-color: #ffcd0d; }

/* SECCIONES Y IMAGENES*/
.titulo {
  font-family: 'Smooch Sans';
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #505050;
  font-size: 60px; }

.rojo {
  color: red; }

.seccion {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/background-rojo.jpg");
  background-size: cover; }

.seccion-1 {
  color: white;
  font-family: 'Smooch Sans';
  font-size: 20px;
  margin-top: 0px; }

.home-1 {
  width: 100%;
  height: auto; }

/*------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------characters.html--------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
.characters-header {
  height: 50vh;
  background-image: url("../assets/img/characters-banner.jpg");
  background-size: cover;
  background-position: center center; }

#personajes {
  margin-top: 20rem; }

#myCarousel {
  height: 100%;
  width: 100%; }
  #myCarousel .carousel-inner {
    height: 100%; }
  #myCarousel .carousel-item {
    text-align: center; }
  #myCarousel .parent {
    min-height: 200px; }
  #myCarousel .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px; }
  #myCarousel .carousel-control-prev, #myCarousel .carousel-control-next {
    width: 5%;
    /*put your desired width*/
    margin-top: 80px;
    /*put your desired top margin*/ }

.characters {
  font-family: 'Smooch Sans';
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 2px #505050;
  font-size: 140px; }

#section-1 {
  margin-top: 10rem; }
  #section-1 .descripcion {
    color: white; }

.card-img-top {
  width: 100%;
  height: auto; }

.media-header {
  background-color: black;
  height: 20vh; }

.imagen-media {
  padding: 100px; }

.imagen-media img {
  width: 100%;
  height: auto;
  max-height: 900px; }

.thumbnail {
  margin-bottom: 80px; }

.thumbnail li img {
  height: 0px; }

.videoGameplay {
  width: 33%;
  padding: 20px; }

.tabla {
  background-color: #ffcd0d; }

.plataform {
  margin-bottom: 300px; }

.fondoStore {
  background-image: url(../assets/img/purchase_bg.jpg);
  background-position: center center; }
  .fondoStore .a,
  .fondoStore .b,
  .fondoStore .c,
  .fondoStore .d,
  .fondoStore .e {
    font-family: 'Smooch Sans';
    padding: 10px 40px;
    color: white;
    background-color: transparent;
    font-weight: bold; }
  .fondoStore .buy button {
    font-family: 'Smooch Sans';
    padding: 10px 40px;
    color: white;
    background-color: red;
    font-weight: bold; }
  .fondoStore .version {
    color: white;
    font-family: 'Smooch Sans';
    font-size: 60px; }

#contacto {
  font-family: 'Smooch Sans';
  padding: 10px 40px;
  color: white;
  background-color: transparent;
  font-weight: bold; }
  #contacto input {
    width: 100%; }

#studio {
  font-family: 'Smooch Sans';
  padding: 10px 40px;
  color: white;
  background-color: transparent;
  font-weight: bold; }
  #studio .responsive-map-container {
    position: relative;
    margin-top: 40px;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
    #studio .responsive-map-container iframe,
    #studio .responsive-map-container object,
    #studio .responsive-map-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.responsive-map-container {
  position: relative;
  margin-top: 40px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 767px) {
  #nav {
    background-color: #ffcd0d; }
  .version {
    font-size: 30px; } }

@media only screen and (max-width: 1199px) {
  .wrapper {
    display: flex;
    flex-direction: column; }
  .wrapper div:first-child {
    order: 1; } }

@media only screen and (max-width: 1400px) {
  #section-1 .characters {
    font-size: 65px; } }
