/*------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------characters.html--------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
@mixin flex-wrap-row-around{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.characters-header{
    height: 30vh;
    background-image: url('../assets/img/characters-banner.jpg');
    background-size: cover;
    background-position: center center;
}

.characters {
    font-family: 'Smooch Sans';
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    font-size: 120px;
}

.characters-bg {
    background-image: url('../assets/img/characters_bg.jpg');
    background-size: cover;
    background-position: center center;

    #section-1{
        margin-top: 2rem;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 100px;
    
        #descripcion {
            color: white;
            font-size: 25px;
        }
    
        .iconos {
            @include flex-wrap-row-around;
        }
    
        .child {
            margin-top: 20px;
            flex: 1 0 20%;
          }
        
        #myImg {
            width: auto;
        }
    }
}

