/*------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------Index.html-------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

@import "components/variables";

.titulo {
    font-family: map-get($fuente, Fuente);
    color: map-get($colores, blanco);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(80, 80, 80);
    font-size: map-get($titulo, tFuente);
}

.rojo{
    color: map-get($colores, rojo);
}


.seccion {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url('../assets/img/background-rojo.jpg');
    background-size: cover;

    img{
        width: 100%;
        height: auto;
    }
}

.seccion-2 {
    @extend .seccion-descripcion;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url('../assets/img/Body P5.jpg');
}

.seccion-3 {
    @extend .seccion-descripcion;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url('../assets/img/background-home.jpg');
}

.seccion-descripcion {
    color: map-get($colores, rojo);
    font-family: map-get($fuente, Fuente);
    font-size: 20px;
    margin-top: 0px;
}



