$colores: (
    blanco: #FFFFFF,
    rojo: #8B0000,
    negro: #000000
);

$fuente: (Fuente: 'Smooch Sans');

$titulo: (
    Fuente: 'Smooch Sans',
    tFuente: 60px,
);

/* Mixin */

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-wrap-row-around{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
